.header {
    display: flex;
    gap: 3rem;
    font-size: 18px;
    font-weight: 600;
}

.header h3:hover {
    color: rgb(18, 18, 205);
}

.header-ham {
    background-color: white;
    display: none;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 3.5rem;
    padding: 4rem 6rem;
}

.header-ham h3 {
    margin: 1rem 0;
}

.hambarger {
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.active {
    color: blue;
}

@media only screen and (max-width: 780px) {
    .header {
      display: none;
    }
    /* .header-ham {
        display: flex;
        flex-direction: column;
    } */
    .hambarger {
        display: block;
    }
    .sign {
        display: none;
    }
  }