@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-gray-200;
  }
  .dropdown {
    @apply w-full lg:max-w-[296px] cursor-pointer;
  }
  .dropdown-btn {
    @apply flex h-[64px] items-center px-[18px] border rounded-lg;
  }
  .dropdown-icon-primary {
    @apply text-2xl mr-[18px] text-violet-700;
  }
  .dropdown-icon-secondary {
    @apply text-2xl text-violet-700 ml-auto;
  }
  .dropdown-menu {
    @apply px-6 py-8 text-[15px] space-y-6 shadow-md bg-white absolute w-full z-10 list-none rounded-b-lg;
  }
}

/* .loginpage {
  background-color: aliceblue;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 60vh;
  box-shadow: 0 0 3px white;
}


.login input {
  text-align: center;
  padding: 8px 0;
  width: 80%;
  margin: 15px 0;
}

.login button {
  background-color: blueviolet;
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 30px;
} */